.step2 {
  margin-top: $gutter*2;

  &__button {
    background: #3AB6FE;
    border: 0;
    width: 100%;
    height: 32px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
}

.message {
  margin-top: $gutter*2;
}

.bx--dropdown__wrapper {
  margin-bottom: $gutter/2;
}

.bx--form-item {
  margin-bottom: $gutter/2;
}